.taskcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-radius: 8px;
    user-select: none;
}

.taskContent{
    overflow: hidden;
    max-width: 15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#checkedTask{
    color: rgb(189, 189, 189);
}

.taskcontainer img{
    cursor: pointer;
    -webkit-user-drag: none;
}

.taskcontainer:hover .taskContent{
    transform: scale(0.93);
    transition: 0.1s;
}

.taskcontainer:hover{
    background-color: rgb(240, 255, 240);
}
